.a {
  font-size: 100px;
  text-align: 'center';
}
.b {
  font-size: 100px;
  text-align: 'center';
}
.c {
  font-size: 100px;
  text-align: 'center';
}
.d {
  font-size: 100px;
  text-align: 'center';
}
